.anchor-wrapper {
  overflow: auto;
  margin-left: -4px;
  padding-left: 4px;
}
.anchor-wrapper .anchor {
  position: relative;
  padding-left: 2px;
}
.anchor-wrapper .anchor .anchor-ink {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.anchor-wrapper .anchor .anchor-ink::before {
  content: ' ';
  position: relative;
  width: 1px;
  height: 100%;
  display: block;
  background-color: #e8eaec;
  margin: 0 auto;
}
.anchor-wrapper .anchor .anchor-ink .anchor-ink-ball {
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #2d8cf0;
  background-color: #fff;
  left: 50%;
  transition: top 0.2s ease-in-out;
  transform: translate(-50%, 2px);
}
.anchor-wrapper .anchor.fixed .anchor-ink .anchor-ink-ball {
  display: none;
}

.anchor-wrapper .anchor-link {
  padding: 8px 0 8px 16px;
  line-height: 1;
}
.anchor-wrapper .anchor-link .anchor-link-title {
  display: block;
  position: relative;
  transition: all .3s;
  color: #515a6e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.anchor-wrapper .anchor-link .anchor-link-title:only-child {
  margin-bottom: 0;
}
.anchor-wrapper .anchor-link.is-active .anchor-link-title {
  color: #2d8cf0;
}
.anchor-wrapper .anchor-link + .anchor-ink {
  padding-top: 6px;
  padding-bottom: 6px;
}