.search-bar {

  .search__main .search__main-item,
  .search__option .search__main-item {
    display: inline-flex;
    margin: 0 10px 10px 0;

    &-label {
      flex-shrink: 0;
      line-height: 34px;
      padding-right: 8px;
    }

    >div {
      flex: auto;
    }
  }

  .search__main {
    .search__main-item.right {
      float: right;
    }

    .search__main-item.right:nth-of-type(1) {
      margin-right: 0;
    }

    button [class*='icon'] {
      font-size: 12px;
    }
  }

  .search__option {}
}
