html,body{
  width: 100%;
  height: 100%;
}
#app{
  width: 100%;
  height: 100%;
}
.views__wrapper{
  display: flex;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.views__wrapper > .views__slideBar{
  height: 100%;
}
.views__wrapper > .views__slideBar > .views__menu{
  height: 100%;
}
.views__wrapper > .views__slideBar > .views__menu:not(.el-menu--collapse) {
  width: 200px;
}
.views__wrapper > .views__slideBar > .views__menu > .slideBar__expand{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}
.views__wrapper > .views__slideBar > .views__menu > .slideBar__expand .iconfont{
  color: #ffffff;
  font-size: 20px;
}
.views__wrapper > .views__slideBar > .views__menu > .el-submenu .iconfont{
  position: relative;
  top: 3px;
  margin: 0 2px;
  font-size: 20px;
}
.views__wrapper > .views__content{
  flex: 1;
  overflow: auto;
}
.views__wrapper > .views__content > .content__header{
  height: 60px;
}
.views__wrapper > .views__content > .content__main{
  min-height: calc(100% - 60px);
  color: #666;
  padding: 20px;
  background: #f7f8fa;
  box-sizing: border-box;
}